@import "_variables.sass"


#section1
    background-color: $main-c1

button
    width: 250px
    height: 50px
    background-color: $main-c1
    border: 1px solid $main-c1
    color: white

#section3
    background-color: $main-c2

footer
    background-color: #393A3B
